body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 70px;
  line-height: 1.5;
}

.module {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.module img {
  float: left;
  width: 100%;
  padding: 5px;
  border: 1px solid #eef1f1;
  box-shadow: 1px 1px 15px #f7f8f8;
}

@media(min-width:700px) {
  .module img {
    width: 350px;
/*    height: 375px;*/
    padding: 5px;
  }
}

@media(min-width:990px) {
  .module img {
    width: 340px;
/*    height: 375px;*/
    padding: 5px;
  }
}

@media(min-width:1200px) {
  .module img {
    width: 415px;
/*    height: 375px;*/
    padding: 5px;
  }
}

.module img:first-child {
  margin-right: .5em;
  margin-bottom: .5em;
}

@media(min-width:768px) {
  .module .img-s{
    width: 290px;
  }
}

a .module:hover {
/*  background-color: #f7f8f8;*/
}

.module h3 {
  color: #333333; 
}

.module h4 {
  color: #333333;
}

.modal {
  
}

.modal:hover {
  cursor: default;
}

@media(min-width:768px) {
  .modal-dialog {
    width: 750px;
  }
  
}

.modal-content {
  border-radius: 0;
}

/* /////////////////////////
  TEXT
\\\\\\\\\\\\\\\\\\\\\\\\\*/

h1, .h1 {
  font-size: 48px;
  margin-bottom: 26px;
}

h2, .h2 {
  font-size: 36px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  margin-bottom: none;
}

h3, .h3 {
  font-size: 28px;
  line-height: inherit;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

h4, .h4 {
  font-size: 18px;
  margin-bottom: 48px;
}

p, .p {
  font-size: 16px;
  margin: 0 0 15px;
}

a {
  color: #ab0520;
}

a:hover {
  text-decoration: underline;
  color: #ab0520;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

ul {
  list-style-type: none;
}

.all-caps {
  text-transform: uppercase;
}

.sidenav {
  
}

@media(min-width:768px){
  .sidenav-fixed {
    position: fixed;
  }
}

.sidenav {
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  padding: 15px;
  margin-top: 20px;
}

.sidenav ul li {
  padding: 5px;
}

.sidenav ul li:hover {
/*  background-color: #eef1f1;*/
  text-decoration: underline;
}

.sidenav ul a li{
  color: #333333;
}

.sidenav ul a:hover{
  text-decoration: none;
}

.sidenav-home {
  position: fixed;
  top: 70px;
  width: 225px;
  margin-left: 715px;
}

@media(min-width:1200px){
  .sidenav-home {
  position: fixed;
  top: 70px;
  width: 250px;
  margin-left: 875px;
  }
}

.label {
  font-weight: 100;
}

.text-muted {
  opacity: .6;
  color: inherit;
}

.dark-text {
  color: black;
  font-weight: 600;
}

.section-no-padding h4 {
  margin: 0;
}

.section-no-padding p {
  margin-bottom: 40px;
}

h4 .small {
  color: #ab0520;
}
.resume h4 {
  margin-top: 1.5em;
  margin-bottom: .5em;
}

.resume p {
  margin-bottom: .1em;
}

/* ///////////////////////*/


/*/////////////////////////
NAVBAR & LINKS
////////////////////////*/
.navbar-default .navbar-brand {
  color: #333333;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.navbar-default .navbar-brand:hover {
  color: #333333;
}

.navbar-default .navbar-toggle .icon-bar {
  border-radius: 0;
  background-color: #333333;
  border: none;
}

/* REMOVED MOBILE MENU BAR BORDER */
.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #333333;
}

.navbar-default .navbar-nav>li>a:hover {
/*    text-decoration: underline;*/
/*  background-color: #eef1f1;*/
  border-bottom: 1px solid #333333;

}

.nav>li>a {
    letter-spacing: 2px;  
}

h4 a, h3 a:hover{
/*  border-bottom: 1px solid gray;*/
  cursor: default;
}

a img:hover {
  
}

.active {
  border-bottom: 1px solid lightgrey;
}

.logo {
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 6px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-fixed-top {
    background-color: #ffffff;
    background-image: none;
    box-shadow: none;
    border: none;
    opacity: .98;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: none;
    box-shadow: none;
    background-color: #ffffff;
}

.index-nav {
    margin-top: 20px;
    letter-spacing: 2px;
}

@media (min-width: 768px) {
    .index-nav {margin-top: 200px}
}

.index-link {

}

.bg-gray {
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  .section {
    margin: 0 auto;
    width: 960px;
    padding-top: 100px;
  }
}

@media (min-width: 768px) {
  .section-no-padding {
    margin: 0 auto;
    width: 960px;
  }
}

/* /////////////////////////
  backgrounds
\\\\\\\\\\\\\\\\\\\\\\\\\*/
.bg-intro {
  background-image: url('../img/ext/city.jpg');
  background-position-y: 70%; 
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  
}
    

.intro-quote {
  margin-top: 250px;
  margin-bottom: 250px;
  color: white;
}

.bg-gray {
  background-color: #eef1f1;

}

/*//////////// FINE ART ///////////*/

.bg-dark {
  background-color: #333333; 
}

.text-white {
  color: #ffffff;
}

.video-player {
  width: 100%;
  height: 320px;
  margin-bottom: 20px;
}

@media(min-width:768px) {
  .video-player {
    width: 640px;
    height: 360px;
  }
}

/*////////////////////////////
IMAGES
///////////////////////////*/

img {

}

@media (max-width: 768px) {
  .img-responsive {
  }
}

.well {
  background-image: none;
  background-color: #fff;
  border: none;
  box-shadow: none;
}


.no-padding-top {
  padding-top: none;
} 

legend {
  border: none;
}

footer {
  color: #d3d3d3;
  padding-top: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
  font-weight: 100;
  letter-spacing: 1.5px;
  bottom: 0;
  
}

footer p {
  font-size: 12px;
}

.social-media {
  height: 5%;
  width: 5%;
  margin-top: 25px;
}

.social-media:hover {
  opacity: .8;
 
}

