body {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 70px;
}

.navbar-default .navbar-nav>li>a {
    color: #333333;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: none;
    color: #8b0000;
}

a {
    color: #333333;
    letter-spacing: 2px;
}

a:hover {
    text-decoration: none;
    color: #8b0000;
}

.active {
    color: #8b0000;
}

.logo {
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 6px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-fixed-top {
    background-color: #ffffff;
    background-image: none;
    box-shadow: none;
    border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: none;
    box-shadow: none;
    background-color: #ffffff;
}

.index-nav {
    margin-top: 20px;
    letter-spacing: 2px;
}

@media (min-width: 768px) {
    .index-nav {margin-top: 200px}
}

.index-link {

}

.bg-gray {
  background-color: gray;
}

@media(min-width:768px) {
  .section {
    margin: 0 auto;
    width: 1080px;
  }
}

    
    
    